<div class="container mt-5">
  <h2 class="mb-4">Danh sách người dùng</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">STT</th>
        <th scope="col">Họ và Tên</th>
        <th scope="col">Email</th>
        <th scope="col">Quyền</th>
        <th scope="col">Hành động</th>
      </tr>
    </thead>
    <tbody>
      <% data.users.forEach((user, index) => { %>
      <tr>
        <th scope="row"><%= index + 1 %></th>
        <td><%= user.fullname %></td>
        <td><%= user.email %></td>
        <td>
            <select class="form-select">
                <option value="user" <%= user.role === 'user' ? 'selected' : '' %>>User</option>
                <option value="admin" <%= user.role === 'admin' ? 'selected' : '' %>>Admin</option>
            </select>
        </td>
        <td>
          <a href="/users/<%= user.id %>" class="btn btn-primary"
            >Xem chi tiết</a
          >
        </td>
      </tr>
      <% }); %>
    </tbody>
  </table>
</div>
