<div class="container mt-5">
  <h2 class="text-center mb-4">Sửa Khóa Học</h2>

  <form action="/api/update/<%= data.course.id %>" method="POST">
    <div class="row">
      <div class="col-md-6">
        <div class="mb-3">
          <label for="thumbnail" class="form-label">Hình Ảnh</label>
          <input
            type="text"
            class="form-control"
            id="thumbnail"
            name="thumbnail_url"
            value="<%= data.course.thumbnail_url %>"
            placeholder="URL hình ảnh"
          />
        </div>
        <img
          src="<%= data.course.thumbnail_url || 'https://via.placeholder.com/300x200' %>"
          alt="Thumbnail"
          class="img-fluid w-50"
        />
      </div>
      <div class="col-md-6">
        <div class="mb-3">
          <label for="title" class="form-label">Tên Khóa Học</label>
          <input
            type="text"
            class="form-control"
            id="title"
            name="title"
            value="<%= data.course.title %>"
          />
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Mô Tả</label>
          <textarea
            class="form-control"
            id="description"
            name="description"
            rows="3"
          >
            <%= data.course.description %></textarea
          >
        </div>
        <div class="mb-3">
          <label for="category_id" class="form-label">Danh Mục</label>
          <input
            type="text"
            class="form-control"
            id="category_id"
            name="category_id"
            value="<%= data.course.category_id %>"
          />
        </div>

        <div class="mb-3">
          <label for="course_url" class="form-label">URL Khóa Học</label>
          <input
            type="text"
            class="form-control"
            id="course_url"
            name="course_url"
            value="<%= data.course.course_url %>"
            placeholder="URL khóa học"
          />
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-between m-4">
      <a href="/admin/course" class="btn btn-secondary">Quay lại</a>
      <button type="submit" class="btn btn-primary">
        <i class="bi bi-save"></i> Lưu Thay Đổi
      </button>
    </div>
  </form>
</div>
